@page "/"

<style>
    h1{
        text-align: center;
    }

    img{
        display: block;
        margin: auto;
    }
</style>

<div>
    <img src="/logo-aya.png"/>
</div>

<h1>Sistema de Ventas a&a</h1>

